/* Eléments généraux de la page */

:root {
    --bluecolor : #0065FC;
    --greycolor : #F2F2F2;
}
body {
    font-family: 'Raleway', sans-serif;
    width: 1400px;
    margin: auto;
}
ul {
    list-style-type: none;
    display: flex;
    font-size: 1.4em;
}
h3 {
    font-weight: 1200px;
    font-size: 1.3em;
}
i.fas.fa-star {
    letter-spacing: -5px;
}
#star-disable {
    color: var(--greycolor);
}

/* Header */

header {
    width: 95%;
    margin: 20px 30px;
    display: flex;
    align-content: space-between;
}
header h3 {
    margin: 20px 30px;
}
#logo {
    width: 100%;
}
#inscription {
    margin: 20px 40px;
    list-style-type: none;
    order: 3;
}
#inscription a {
    text-decoration: none;
    font-weight: bold;
    color:var(--bluecolor);
    font-size: 1.1em;
}
nav {
    display: flex;
    align-items: space-between;
    font-weight: bold;
    font-size: 1.3em;
}
nav li {
    align-items: space-between;
    list-style-type: none;
    margin-left: 40px
}
nav a {
    display: flex;
    font-size: 0.8em;
    color: #181818;
    text-decoration: none;
    padding-top: 20px;
}
nav a:hover {
    color:var(--bluecolor);
    border-top: 1px solid var(--bluecolor);
}

/* Div Form */

form {
    width: 100%;
    margin: 0 30px;
}
#localisation {
    display: flex;
    font-size: 1.2em;
}
#localisation i {
    background: var(--greycolor);
    border-radius: 10px 0 0 10px;
    padding: 13px;
}
#localisation input {
    padding: 9px;
    font-size: 1em;
    width: 15%;
    border: 2px solid var(--greycolor);
}
#localisation button {
    width: 120px;
    background: var(--bluecolor);
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 9px;
    border-style: none;
    font-size: 1em;
    width: 10%;
}
#filtres {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}
.button {
    position: relative;
    width: 220px;
    height: 50px;
    font-size: 0.9em;
}
#filtres h3 {
    margin-right: 20px;
}
#filtres i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    border-radius: 100%;
    color: var(--bluecolor);
    background:#DEEBFF;
}
#filtres button {
    position: relative;
    height: 48px;
    width: auto;
    margin-right: 20px;
    padding: 0 20px 0 60px;
    background: transparent;
    border-radius: 100px;
    border: 2px solid var(--greycolor);
    font-size: 1em;
}
#filtres button:hover {
    background-color: #DEEBFF;
}
.filterbox span {
    margin-left: 20px;
}
p i{
    margin-right: 5px;
    color: var(--bluecolor);
}
i.fas.fa-search {display:none;}

/* Section & Aside */

section {
    display: flex;
    height: auto;
    width: auto;
    margin: 30px 25px 30px 30px;
}
#container {
    background: var(--greycolor);
    width: 880px;
    height: 600px;
    margin-right: 40px;
    border-radius: 10px;
    padding: 20px;
}
#hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#container article {
    object-fit: cover;
    position: relative;
    margin-bottom: 30px;
    width: 250px;
    height: 195px;
    border-radius: 10px;
    border: 5px solid white;
}
.images1 {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.overlay1 {
    position: absolute;
    background: rgba(255,255,255,1);
    height: 35%;
    width: 100%;
    bottom: 0;
    padding: 0px 8px;
    box-sizing: border-box;
}
.overlay1 p {
    font-size: 0.9em;
    margin: 5% 0;
}
aside {
    background: var(--greycolor);
    width: 380px;
    height: 600px;
    border-radius: 10px;
    padding: 20px 40px;
}
aside article {
    position: relative;
    margin-bottom: 30px;
    width: 345px;
    height: 145px;
    border-radius: 10px;
    border: 5px solid white;
}
.chart {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.images2 {
    object-fit: cover;
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.overlay2 {
    position: absolute;
    background: rgba(255,255,255,1);
    height: 100%;
    width: 60%;
    bottom: 0;
    right: 0;
    padding: 0px 30px 0 9px;
    box-sizing: border-box;
}
.overlay2 p {
    font-size: 0.9em;
    margin: 5%;
}

/* Main */

main {
    width: auto;
    height: auto;
    margin: 50px 0 50px 30px;
}
#activites {
    height: 445px;
    width: 1385px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img3 {
    position: relative;
    object-fit: cover;
    width: 300px;
    height: 445px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
}
.img4 {
    position: relative;
    object-fit: cover;
    width: 305px;
    height: 235px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
}
.img5 {
    position: relative;
    object-fit: cover;
    width: 305px;
    height: 165px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
}
.img6 {
    position: relative;
    object-fit: cover;
    width: 300px;
    height: 445px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
}
.img7 {
    position: relative;
    object-fit: cover;
    width: 305px;
    height: 195px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
}
.img8 {
    position: relative;
    object-fit: cover;
    width: 305px;
    height: 210px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.12);
}
.cover3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.overlay3 {
    position: absolute;
    background: rgba(255,255,255,1);
    height: 40px;
    width: 100%;
    bottom: 0;
    padding: 0 0 10px 8px;
    border-radius: 0 0 8px 10px;
    box-sizing: border-box;
}
.overlay3 p {
    font-size: 1.2em;
    margin: 3%;
}

/* Footer */

footer {
    background: var(--greycolor);
    height: 180px;
    width: auto;
    margin-bottom: 40px;
}
#contact {
    display: flex;
}
footer h4 {
    margin: 30px 0 10px 30px;
    font-size: 1.1em;
}
footer ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
footer li {
    list-style-type: none;
    margin: 0 0 0 30px;
    font-size: 0.7em;
    line-height: 1.7;
}
.liens {
    width: 33%;
    text-decoration: none;
}

/* Propriétés responsive si la fenêtre fait au plus 1024px - Tablettes */

@media screen and (max-width : 1024px) {

    /* Eléments généraux de la page */
    body {width: 100%; margin: auto;}
    h3 {font-size: 1.2em;}
        
    /* Header */
    header {width: 90%;}

    /* Form */
    form {width: 90%; margin: 20px 30px;}
    #localisation input {width: 20%;}
    #localisation button {width: 13%;}

    /* Section */
    section {display: inline-block; width: 90%; height: auto; margin: 20px 30px;}

        /* Container */
        #container {width: 96%; height: auto; margin: 0 0 30px 0; padding: 10px 20px;}
        #hebergements {width: 100% ; flex-wrap: wrap; justify-content: space-between;}
        #container article {width: 45%; height: 230px; border-radius: 10px; margin: 15px;}
        .images1 {width: 100% ; height: 75%; border-radius: 10px 10px 0 0;}
        .overlay1 {width: 100%; height: 25%;}
        .overlay1 p {font-size: 0.8em; margin: 2%;}
        
        /* Aside */
        aside {flex-direction: column; width: 96%; height: auto; padding: 20px;}
        aside article {width: 95%; height: 250px; margin: 0px 20px 30px 20px;}
        .images2 {width: 70% ; height: 100%;}
        .overlay2 {width: 30%; height: 100%;}
        .overlay2 p {font-size: 1.1em; margin: 8%;}

    /* Main */

    main {width: 90%; height: 900px; margin: 30px;}
    #activites {width: 100%; height: 45%; flex-flow: wrap; justify-content: space-between;}
    .img3 {width: 30%; height: 100%; margin-bottom: 5%;}
    .images3 {width: 100%; height: 100%;}
    .img4 {width: 30%; height: 100%; margin-bottom: 5%;}
    .images4 {width: 100%; height: 100%;}
    .img5 {width: 30%; height: 100%; margin-bottom: 5%;}
    .images5 {width: 100%; height: 100%;}
    .img6 {width: 30%; height: 100%; margin-bottom: 5%;}
    .images6 {width: 100%; height: 100%;}
    .img7 {width: 30%; height: 100%; margin-bottom: 5%;}
    .images7 {width: 100%; height: 100%;}
    .img8 {width: 30%; height: 100%; margin-bottom: 5%;}
    .images8 {width: 100%; height: 100%;}
    .overlay3 {width: 100%; height: 15%; text-align: center; padding: 0;}
    .overlay3 p {font-size: 1.2em; margin: 5%;}

    /* Footer */

    footer {width: 100%;}
    #contact {width: 95%;}
    .liens {text-align: center; font-size: 1.1em;}
}

/* Propriétés responsive si la fenêtre fait au plus 768px - Smartphones */

@media screen and (max-width : 768px) {

     /* Header */

    body {width: auto; margin :auto; width: 85%;}
    header {width: auto; flex-direction: column;}
    header h3 {width: auto; font-size: 1.1em; padding: 5% 0 0 0; margin-bottom: auto;}
    header p {margin: 1% 0 3% 0;}
    nav {position: absolute; top: 12%; font-size: 1.2em;}
    nav ul {padding-left: 5%; border-bottom: 2px solid var(--greycolor); line-height: -3%; padding-bottom: 1%;}
    nav ul a {width: 50%; padding-bottom: 1%;}
    nav span {position: absolute; top: -25%; right: -30%;}
    nav a:hover {color:var(--bluecolor); border-bottom: 2px solid var(--bluecolor); border-top: none; padding-bottom: 7%;}
    
     /* Form */
    
    form {width: 100%;}
    #localisation {width: 100%;}
    #localisation button {display: none;}
    i.fas.fa-search {display:table; color:var(--bluecolor); border-radius: 10px; }
    #filtres {height: auto; flex-wrap: wrap;}

    /* Section & Aside */

    section {display: inline-block ; width: 100%; height: auto; margin: 0;}
    #container {width: auto; height: auto;}
    #hebergements {width: 100% ; flex-direction: column;}
    #container article {width: 100%; height: 150px;}
    .images1 {width: 100% ; height: 65%; border-radius: 10px 10px 0 0;}
    .overlay1 {width: 100%; height: 35%;}
    .overlay1 p {font-size: 0.7em; margin: 2%;} 
    aside {flex-direction: column; width: 90%; height: auto; padding: 10px 20px}
    aside article {width: 100%; height: 150px;}
    .images2 {width: 55% ; height: 100%;}
    .overlay2 {width: 50%; height: 100%;}
    .overlay2 p {font-size: 0.7em; margin: 4%;}


}

